@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --clr-green: hsl(75, 94%, 57%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-grey-800: hsl(0, 0%, 12%);
  --clr-grey-900: hsl(0, 0%, 8%);

  --ff-primary: "Inter", sans-serif;

  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  --fs-copy: 0.875rem;

  --mobile-width: 20.4375rem;
  --tablet-width: 28.5rem;
  --desktop-width: 24rem;

  --mobile-height: 36.1875rem;
  --tablet-height: 38.1875rem;
  --desktop-height: 38.1875rem;

  font-size: 16px;
}

/* css resets */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
html,
body {
  height: 100%;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements get default styles */
a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* general styling */

body {
  background-color: var(--clr-grey-900);
  color: var(--clr-white);
  text-align: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-copy);
  font-weight: var(--fw-regular);
  display: grid;
  place-content: center;
}

.card {
  border-radius: 0.75rem;
  overflow: hidden;
  width: calc(262px + 25.26vw);
  min-width: 327px;
  max-width: 468px;
  margin: 1.5rem;
}

@media (min-width: 768px) {
  .card {
    width: calc(528px - 10vw);
    min-width: 384px;
  }
}

.card-wrapper {
  background-color: var(--clr-grey-800);
  display: grid;
  gap: 1.5rem;
  justify-items: center;
  padding: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
}

.avatar {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.card-author {
  display: grid;

  gap: 0.25rem;
}

.links-list {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.links-list > * {
  border-radius: 0.5rem;
  padding-block: 0.75rem;
  background-color: var(--clr-grey-700);
  font-weight: var(--fw-bold);
}

/* component styling */

.name {
  font-size: 1.5rem;
  font-weight: var(--fw-medium);
}

.location {
  color: var(--clr-green);
  font-weight: var(--fw-bold);
}

.vanilla {
  cursor: pointer;
  text-decoration: underline;
}

.list-item:hover,
.list-item:focus-visible {
  background-color: var(--clr-green);
  color: var(--clr-grey-900);
}
